* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  :root {
    --primary-color: var(--primary-color);
    --secondary-color: var(--secondary-color);
    --tertiary-color: var(--tertiary-color);
  }
/* apply styles to <header> */
header {
  display: flex;
  justify-content: space-between;  
  flex-wrap: wrap;
  padding: 20px 35 px;
  background-color: var(--tertiary-color);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: sticky;
  top:0;
  background-image: url("../images/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: 80%;
  position: -webkit-sticky;
  z-index: 9999;
}

.header h1 .lastname {
    color: blue;
}