* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/* apply styles to <header> */
header {
    display: flex;
    justify-content: space-between;  
    flex-wrap: wrap;
    padding: 20px 35px;
    background-color:rgb(0, 0, 0);
    font-family:Arial, Helvetica, sans-serif;
    position: sticky;
    top:0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    position: -webkit-sticky;
    z-index: 9999;
}

.name {
    font-size: 1.50vw;
    background: -webkit-linear-gradient(#eee, rgb(52, 110, 148));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title {
    font-size: 1.75vw;
    color:white;
    font-family: fantasy;
}
.lastname {
    font-size: 1.90vw;
}

header nav {
    display: flex;
    flex-wrap: wrap;
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:center;
    list-style: none;
  
}

header nav ul li a {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    color:rgb(52, 110, 148);
}

.aboutme{
    margin-top: 50px;
}
.aboutme h2{
    display: flex;
    flex-wrap: wrap;
    color:rgb(52, 110, 148);
    float:left;
    font-size: 1.75vw;
    padding-top: 10px;
    padding-right: 10px;
    margin-left: 50px;
    
}
.aboutme p{
    display: flex;
    flex-wrap: wrap;
    border-left: solid rgb(52, 110, 148);
    padding: 10px;
    font-size: 1.55vw;
    justify-content: right;
    margin-right: 20px;
}
.aboutme img{
    max-width: 20%;
    margin-right: 20px;
   
}

.mywork {
    display: flex;
    flex-wrap: wrap;
    border:10px;
    

}

.mywork h2{
    border-right: solid rgb(52, 110, 148);
    color:rgb(52, 110, 148);
    font-size: 1.75vw;
    padding-top: 10px;
    padding-right: 13px;
    margin-left: 50px;
    height: 200px;
    background-color: gray;
    
}
.mywork a{
    font-size: 1.55vw;
    margin-right: 50px;
}

.mainwork {
    width: 75%;
    height: 200px;
    background-color: rgba(0, 128, 128, 0.164);
    
    
}

.mainwork:hover{
    background-color:rgba(0, 128, 128, 0.76);
}
.mainwork a{
    display: flex;
    flex-wrap: wrap;
    
}
.mainwork img{
    max-width: 75%;
    max-height: 200px;
    z-index: 9999;
}

.box2{
    background-color:blue;
    width: 37.5%;
    height: 200px;
    align-items: center;
    
    

}
.box3{
    background-color: tomato;
    width: 37.5%;
    height: 200px;
    align-self:center;
}

.box4{
 background-color: violet;
 width: 37.5%;
 height: 200px;
}

.box5{
background-color: yellow;
width: 37.5%;
height: 200px;
}



.contactme h2{
    margin-top:50px;
    display: flex;
    flex-wrap: wrap;
    color:rgb(52, 110, 148);
    float:left;
    font-size: 1.75vw;
    padding-top: 10px;
    padding-right: 10px;
    margin-left: 50px;
   }

.contactme p{
    display: flex;
    flex-wrap: wrap;
    border-left: solid rgb(52, 110, 148);
    display:inline;
    padding: 10px;
    font-size: 1.55vw;
    margin-right: 20px;
}
